.banner {
  height: 483px;
  background-image: url('/src/img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-description {
  max-width: 893px;
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-style: italic;
}