.pic-decoration {
  min-height: 115px;
  background-image: url('/src/img/ppc-logo.png');
  background-repeat: no-repeat;
  & > span {
    display: inline-block;
    margin: 0 0 0 125px;
  }
}
span {
  font-size: 32px;
  margin: 20px 0;
}