.nav  {
  background-color: #007765;
  color: #fff;
  &--logo {
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;
  }
  &--menu-list  {
    display: flex;
    margin-left: auto;
  }
  &--menu-item  {
    font-size: 24px;
    margin-right: 8px;
    padding-left: 8px;
    border-left: 2px solid #fff;
    cursor: pointer;
    &:first-child {
      border: none;
    }
  }
  
}