
<div class="pic-decoration"></div><span>Pied Piper's new interner is built for users, by users.</span><span>You supply the storage, compute, and networking resources that power our entire decentralized web.</span>
<p>Now there's a way to give credit where credit is due. Compute credit, that is! The more you share your device resources, the more  PiedPiper Coin you receive.</p>
<p>Whether you're a developer with an app ready for market, or just an Average Joe with a smartphone you'll love all you can do with PiedPiperCoin.</p>