
<div class="problem-description">
  <p>Beneath the flashy homepages of your favorite sites lurk Hooli and other evil corporations out to hoard and sell your most personal data.</p>
  <p>What was built to be the ultimate platform for the free sharing of knowledge has turned into a money-gungry monster feasting on our privacy and freedom.</p>
  <p>But fear not, for Pied Piper has the answer! And it's simple: An autonomous peer-to-peer network featuring distributed storage powered by universal compression, accelerated scheduling allocation, and end-to-end encryption.</p>
  <p>Put even simpler - <span>it's the internet, completely decentralized.</span></p>
</div>