
<div class="row">
  <div class="person-team">
    <div class="person-team--image"></div>
    <div class="person-team--name">Richard Hendricks</div>
    <div class="person-team--description">Founder & CEO</div>
  </div>
  <div class="person-team">
    <div class="person-team--image"></div>
    <div class="person-team--name">Dinesh Chugtai</div>
    <div class="person-team--description">Senior Programmer</div>
  </div>
  <div class="person-team">
    <div class="person-team--image"></div>
    <div class="person-team--name">Bertram Gilfoyle</div>
    <div class="person-team--description">Chief Systems Architect</div>
  </div>
</div>
<div class="row">
  <div class="person-team">
    <div class="person-team--image"></div>
    <div class="person-team--name">Jerad Dunn</div>
    <div class="person-team--description">Chief Operating Officer</div>
  </div>
  <div class="person-team">
    <div class="person-team--image"></div>
    <div class="person-team--name">Monica Hall</div>
    <div class="person-team--description">Chief Fenancial Officer</div>
  </div>
  <div class="person-team">
    <div class="person-team--image"></div>
    <div class="person-team--name">Nelson Bighetti</div>
    <div class="person-team--description">Majority Investor</div>
  </div>
</div>