doctype html  
html(lang='en')  
  head
    title Pied Piper
    link(rel="stylesheet", href="style.css")
  body
    .wrapper
      nav.nav
        .container
      section.hero
        .container
      section.problem
        .container
      section.banner
        .container
      section.introducing
        .container
      section.team
        .container
      footer.footer