doctype html  
html(lang='en')  
  head
    title Pied Piper
    link(rel="stylesheet", href="style.css")
  body
    .wrapper
      nav.nav
        .container
          include components/nav.pug
      section.hero
        .container
          h1.title PiperNet Is Here
      section.problem
        .container
          h2.sub-title The Problem
          include components/problem.pug
      section.banner
        .container
          include components/banner.pug
      section.introducing
        .container
          h2.sub-title Introducing PiedPiperCoin
          include components/introducing.pug
      section.team
        .container
          h2.sub-title The Team
          include components/team.pug
      footer.footer
        include components/footer.pug