.row
  .person-team
    .person-team--image
    .person-team--name Richard Hendricks
    .person-team--description Founder & CEO
  .person-team
    .person-team--image
    .person-team--name Dinesh Chugtai
    .person-team--description Senior Programmer
  .person-team
    .person-team--image
    .person-team--name Bertram Gilfoyle
    .person-team--description Chief Systems Architect
.row
  .person-team
    .person-team--image
    .person-team--name Jerad Dunn
    .person-team--description Chief Operating Officer
  .person-team
    .person-team--image
    .person-team--name Monica Hall
    .person-team--description Chief Fenancial Officer
  .person-team
    .person-team--image
    .person-team--name Nelson Bighetti
    .person-team--description Majority Investor