.row
  .person-team
    img.person-team--image(src="./src/img/richard.jpg" width="168" height="168" alt="Richard Hendricks")
    .person-team--name Richard Hendricks
    .person-team--description Founder & CEO
  .person-team
    img.person-team--image(src="./src/img/dinesh.jpg" width="168" height="168" alt="Dinesh Chugtai")
    .person-team--name Dinesh Chugtai
    .person-team--description Senior Programmer
  .person-team
    img.person-team--image(src="./src/img/bertram.jpg" width="168" height="168" alt="Bertram Gilfoyle")
    .person-team--name Bertram Gilfoyle
    .person-team--description Chief Systems Architect
.row
  .person-team
    img.person-team--image(src="./src/img/jared.jpg" width="168" height="168" alt="Jared Dunn")
    .person-team--name Jerad Dunn
    .person-team--description Chief Operating Officer
  .person-team
    img.person-team--image(src="./src/img/monica.jpg" width="168" height="168" alt="Monica Hall")
    .person-team--name Monica Hall
    .person-team--description Chief Fenancial Officer
  .person-team
    img.person-team--image(src="./src/img/nelson.jpg" width="168" height="168" alt="Nelson Bighetti")
    .person-team--name Nelson Bighetti
    .person-team--description Majority Investor